html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Position the container relative to hold the absolute dropdown */
.custom-dropdown {
    position: relative;
    display: inline-block;
}

/* Hide the button by default */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 1;
    border-radius: 4px;
    right: 0; /* Aligns dropdown to the right edge of the name */
}

/* Show the button on hover */
.custom-dropdown:hover .dropdown-content {
    display: block;
}